@charset "utf-8";

/*
    Exam 1
    Name: Timoteo Jinks
    Date: 9/15/2023

    Filename: styles.css

*/

/* reset styles */

p, html, h1, body {
    margin: 0;

}

/*Structural Styles */

body {
    background-color: black;
    color: black;

}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #226666;
    

    }

div {
    padding-left: 25px;
    padding-right: 25px;

}

h2 {
    font-size: .85em;

}

p {
    text-align: left;
    line-height: 25px;
}

header img {
    float: left;

}


/*Header Rules */

header {
    border-bottom: 2px;
    border-style: double;
    border-color: black;
    box-shadow: 0px 3px 5px;
  

}

h1 {
    font-family: 'Brush Script MT', serif;
}



/* Navigation Styles */

nav {
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    text-align: center;
   
    

}

nav a {
    text-decoration: none;
  
}

nav ul li {
    
    list-style-type: none;
}


nav a:visited, nav a:link {
    color:#003333;

}

nav a:hover {
    background-color: #669999;

}



/*Section Styles */
section {
    padding: 5px 25px 25px 25px;
    border-top: 1px solid black;
    background-color: #0d4d4d;
    text-align: left;

}

section img {
    width: 95%;

}

.even {
    color: #669999;
}

.odd {
    background-color: #669999;
}


/*Footer Styles*/
footer > p {
    text-align: center;
    font-weight: bold;
    background-color: #669999;
    border-top: 1px double black;
    border-bottom: 1px double black;
    margin-top: 15px;

}
